.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 5px 0;
}
.hljs {
  font-size: 60%;
  padding-bottom: 1rem !important;
}

span.line {
  height: 1.3rem;
}

.reveal ul {
  font-size: 2rem;
}